*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    background-color: aquamarine;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    padding: 5px 0;
}

span{
    color: red;
    font-style:italic;
}

h2{
    font-size: 3rem;
}

aside{
    float: left;
    margin: 3%;
    margin-left: 1%;
}

 
ul{
    font-size: 25px;
    margin-left: 3%;
}

figcaption{
    font-size: 30px;
}


footer{
    text-align: end;
    margin: 2%;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    border: 2px solid black;
    padding: 1.5%;
    background-color: antiquewhite;
}

a:hover, a:focus{
    background-color: dodgerblue;
}

section{
    border: 3px solid black;
    padding: 10px 5px 5px 10px;
}

ol{
   font-size: 2rem;
}

img{
    width: auto;
    height: 340px;
    padding-top: 2%;
}